[submodule "vendor/rustyscript"]
	path = vendor/rustyscript
	url = https://github.com/flightofthefox/rustyscript.git
[submodule "vendor/deno"]
	path = vendor/deno
	url = https://github.com/flightofthefox/deno.git
[submodule "vendor/libffi-rs"]
	path = vendor/libffi-rs
	url = https://github.com/proven-network/libffi-rs
[submodule "vendor/denokv"]
	path = vendor/denokv
	url = https://github.com/proven-network/denokv
