[submodule "vendor/rustyscript"]
	path = vendor/rustyscript
	url = https://github.com/flightofthefox/rustyscript.git
[submodule "vendor/deno"]
	path = vendor/deno
	url = https://github.com/flightofthefox/deno.git
